<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>{{posts.title}}</h1>
    <div>
      {{posts.points}} points | By {{posts.author}} | 
      <a href={{posts.url}} target="_blank">{{posts.url}}</a>
    </div>
  </header>
  <main>
    {% for comment in comments %}
    <div>
      {% if comment.text == None %}
        <p>[deleted]</p>
      {% else %}
        <strong>{{comment.author}}:</strong>
        <p></p>
        <p>{{comment.text|safe}}</p>
        <p></p>
      {% endif %}
    </div>
    <hr>
    {% endfor %}
  </main>
</body>

</html>